# Copyright (c) 2026 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0

choice
  prompt "Pouch transport"
  optional
  help
    Select the transport protocol that will carry Pouch

config POUCH_TRANSPORT_BLE_GATT
  bool "BLE GATT"
  depends on BT
  select BT_GATT_DYNAMIC_DB
  select POUCH_TRANSPORT_GATT_COMMON
  help
    BLE GATT transport for Pouch

config POUCH_TRANSPORT_HTTP_CLIENT
  bool "HTTP"
  imply HTTP_CLIENT
  select EVENTS
  select NET_CONNECTION_MANAGER
  help
    HTTP transport for Pouch

endchoice

config POUCH_TRANSPORT_ACK_TIMEOUT_MS
    int "Pouch Transport ACK timeout (ms)"
    default 1000
    help
        The timeout, in milliseconds, that a receiver will wait
        for new packets before retransmitting an acknowledgement

rsource "gatt/Kconfig"
rsource "http/Kconfig"

module = POUCH_TRANSPORT
module-str = Pouch Transport
source "subsys/logging/Kconfig.template.log_config"
