# Copyright (c) 2026 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0

config POUCH_LOG_LEVEL_NONE
    int
    default 0   # LOG_LEVEL_NONE

config POUCH_LOG_LEVEL_ERR
    int
    default 1   # LOG_LEVEL_ERR

config POUCH_LOG_LEVEL_WRN
    int
    default 2   # LOG_LEVEL_WRN

config POUCH_LOG_LEVEL_INF
    int
    default 3   # LOG_LEVEL_INF

config POUCH_LOG_LEVEL_DBG
    int
    default 4   # LOG_LEVEL_DBG

config POUCH_LOG_LEVEL_VERBOSE
    int
    default 4   # LOG_LEVEL_DBG

config POUCH_LOG_DEFAULT_LEVEL
    int
    default POUCH_LOG_LEVEL_NONE if !LOG
    default LOG_DEFAULT_LEVEL
