# Copyright (c) 2025 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0

config POUCH_TRANSPORT_GATT_COMMON
    bool "Pouch BLE GATT transport common library"

if POUCH_TRANSPORT_GATT_COMMON

config POUCH_GATT_ACK_TIMEOUT_MS
    int "Pouch GATT ACK timeout (ms)"
    default 1000
    help
    The timeout, in milliseconds, that a receiver will wait
    for new packets before retransmitting an acknowledgement

config POUCH_GATT_COMMON_LOG_LEVEL
    int "Pouch GATT Common Log Level"
    default 3
endif # POUCH_TRANSPORT_GATT_COMMON
