# Copyright (c) 2025 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0

menuconfig GOLIOTH
  bool "Golioth SDK"
  depends on POUCH

if GOLIOTH

menuconfig GOLIOTH_SETTINGS
  bool "Golioth Settings service"
  select ZCBOR_UTILS
  help
    Enables the Golioth Settings service. This allows for syncing
    configuration data from the Golioth service down to the device.

if GOLIOTH_SETTINGS

choice GOLIOTH_SETTINGS_FRONTEND
  prompt "Settings frontend"
  help
    Choose how applications interact with the Settings service

config GOLIOTH_SETTINGS_FRONTEND_CALLBACKS
  bool "Callbacks"
  help
    This enables a callback-based frontend to the Settings service.
    Applications can register callbacks for individual settings values
    at runtime.

endchoice

endif

menuconfig GOLIOTH_OTA
  bool "Golioth OTA service"
  select ZCBOR_UTILS
  help
    Enables the Golioth OTA service. This service is used to sync
    binary artifacts like firmware updates or AI models to the device.

if GOLIOTH_OTA

config GOLIOTH_OTA_MAX_PACKAGE_NAME_LEN
  int "Maximum package name length"
  default 32

config GOLIOTH_OTA_MAX_VERSION_LEN
  int "Maximum package version length"
  default 32

endif

module = GOLIOTH
module-str = Golioth
rsource "../src/Kconfig.template.pouch_log_config"

endif
