config POUCH_SERVER_CERT_MAX_LEN
  int "Server certificate maximum length"
  default 4096
  help
    Maximum length of server certificate.

menuconfig POUCH_VALIDATE_SERVER_CERT
  bool "Validate server's certificate"
  default y
  help
    Disabling this will disable the server certificate validation.
    This should never be disabled in production.

config POUCH_SERVER_CERT_CN
  string "Server certificate common name"
  default "$(CONFIG_POUCH_SERVER_CERT_CN)" if "$(CONFIG_POUCH_SERVER_CERT_CN)" != ""
  default "pouch.golioth.io"
  help
    The expected common name or subject alternative name for the
    server leaf certificate.

if POUCH_VALIDATE_SERVER_CERT

config POUCH_CA_CERT_FILENAME
  string "CA certificate filename"
  default "src/goliothrootx1.der"
  help
    The filename of the CA certificate to use for Pouch.
    This is used to verify the server's identity.

endif
