# Copyright (c) 2025 Golioth, Inc.
# SPDX-License-Identifier: Apache-2.0

configdefault NET_SHELL
	default n

configdefault MBEDTLS_USE_PSA_CRYPTO
	default n

configdefault MBEDTLS_HEAP_SIZE
	default 16384

configdefault BT_CTLR_DATA_LENGTH_MAX
	default 251

# This option is used only for automated tests
config SAMPLE_POUCH_GATEWAY_BT_AUTO_BOND
	bool
	default y if BOARD_NRF52_BSIM_NATIVE
	default y if BOARD_NRF9160DK_NRF52840

# This option is used only for automated tests
config SAMPLE_POUCH_GATEWAY_BT_AUTO_CONFIRM
	bool
	default y if BOARD_NRF52_BSIM_NATIVE
	default y if BOARD_NRF9160DK_NRF52840

source "${ZEPHYR_GOLIOTH_FIRMWARE_SDK_MODULE_DIR}/examples/zephyr/common/Kconfig.defconfig"

source "Kconfig.zephyr"
