# Copyright (c) 2026 Golioth, Inc.
# SPDX-License-Identifier: Apache-2.0

if BOARD_THINGY91X_NRF5340_CPUAPP || BOARD_THINGY91X_NRF5340_CPUAPP_NS

choice NETCORE
	prompt "Netcore image"
	default NETCORE_HCI_IPC

config NETCORE_HCI_IPC
	bool "hci_ipc"

endchoice

choice THINGY91X_LAYOUT
	prompt "Pre-defined Thingy:91 X partition layout"
	default THINGY91X_NO_PREDEFINED_LAYOUT

config THINGY91X_NO_PREDEFINED_LAYOUT
	bool "None [EXPERIMENTAL]"
endchoice

configdefault SECURE_BOOT_NETCORE
	bool
	default n

configdefault SECURE_BOOT_APPCORE
	bool
	default n

configdefault NETCORE_APP_UPDATE
	bool
	default n

configdefault NRF_DEFAULT_EMPTY
	bool
	default n

endif # BOARD_THINGY91X_NRF5340_CPUAPP || BOARD_THINGY91X_NRF5340_CPUAPP_NS
