# Copyright (c) 2025 Golioth, Inc.
#
# SPDX-License-Identifier: Apache-2.0

menu "Pouch BLE GATT Transport"
    visible if POUCH_TRANSPORT_BLE_GATT

config POUCH_TRANSPORT_GATT_CUD_ATTRIBUTES
    bool "Include CUD attributes for each characteristic"
    help
        If enabled, Characteristic User Description attributes will
        be added for each characteristic with a brief identifier. This
        can be useful during debugging and development to identify
        the characteristics without consulting their UUIDs.

choice POUCH_TRANSPORT_GATT_PERM
	bool "GATT permissions"

config POUCH_TRANSPORT_GATT_PERM_LESC
	bool "Require LE Secure Connection for access"

config POUCH_TRANSPORT_GATT_PERM_AUTHEN
	bool "Require authentication for access"

endchoice # POUCH_TRANSPORT_GATT_PERM


config POUCH_TRANSPORT_GATT_WINDOW_SIZE
    int "Receiver window size"
    range 1 127
    default 4
    help
        The number of unacknowledged packets that can be received by
        the device. Larger numbers can increase throughput but will
        use more RAM.


module = POUCH_GATT
module-str = Pouch GATT
source "subsys/logging/Kconfig.template.log_config"

endmenu
